
<h2>Log In</h2>

<%= form_tag login_path do %>

  <div class="field">
    <%= label_tag :uni %>
    <br />
    <%= text_field_tag :uni, params[:uni] %>
  </div>

  <div class="actions">
    <br />
    <%= submit_tag "Log in", :class => "btn btn-primary btn-large" %>
  </div>

<% end %>

<div>
	<br/>
  <%= link_to "Create a New User", signup_path %>
</div>

