<h1>Listing assignments</h1>

<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Title</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.title %></td>
    <td><%= assignment.points %></td>

    <td class="btn btn-info btn-small"><%= link_to 'Show', assignment %></td>
    <% if current_student.role %>
      <td class="btn btn-warning btn-small"><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
      <td class="btn btn-danger btn-small"><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
