<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @assignment.title %>
</p>

<p>
  <b>Points:</b>
  <%= @assignment.points %>
</p>

<% if current_student.role %>
    <%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<% end %>
<%= link_to 'Back', assignments_path %>
