<h1>Listing lectures</h1>

<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Subject</th>
    <th>When</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lectures.each do |lecture| %>
  <tr>
    <td><%= lecture.subject %></td>
    <td><%= lecture.when %></td>

    <td class="btn btn-info btn-small"><%= link_to 'Show', lecture %></td>
    <td class="btn btn-warning btn-small"><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
    <td class="btn btn-danger btn-small"><%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lecture', new_lecture_path %>
