<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @lecture.subject %>
</p>

<p>
  <b>When:</b>
  <%= @lecture.when %>
</p>


<% if current_student.role %>
    <%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<% end %>
<%= link_to 'Back', lectures_path %>
