<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @lecture.subject %>
</p>

<p>
  <b>When:</b>
  <%= @lecture.when %>
</p>


<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
