<h1>Listing students</h1>

<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Uni</th>
    <th>Email</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.uni %></td>
    <td><%= student.email %></td>

    <td class="btn btn-info btn-small"><%= link_to 'View', student %></td>
    <% if current_student.role %>
      <td class="btn btn-warning btn-small"><%= link_to 'Edit', edit_student_path(student) %></td>
      <td class="btn btn-danger btn-small"><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
