<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Uni:</b>
  <%= @student.uni %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<% if current_student.role %>
    <%= link_to 'Edit', edit_student_path(@student)  %> |
<% end %>
<%= link_to 'Back', students_path %>
