<p id="notice"><%= notice %></p>

<p>
  <b>Class time:</b>
  <%= @lecture.class_time %>
</p>

<p>
  <b>Subject:</b>
  <%= @lecture.subject %>
</p>

<p>
  <b>Attendance:</b>
  <%= @lecture.attendance %>
</p>

<p>
  <b>Belongs to:</b>
  <%= @lecture.belongs_to %>
</p>

<p>
  <b>Embeds many:</b>
  <%= @lecture.embeds_many %>
</p>


<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
