<p id="notice"><%= notice %></p>

<p>
  <b>Class time:</b>
  <%= @lecture.class_time %>
</p>

<p>
  <b>Subject:</b>
  <%= @lecture.subject %>
</p>

<p>
  <b>Attendance:</b>
  <%= @lecture.attendance %>
</p>

<% if @lecture.uploads.size > 0 %>
  <h2>Uploads</h2>
  <% for upload in @lecture.uploads %>
    <h3><%= upload.title %></h3>
    <p><%= upload.url %></p>
  <% end %>
<% end %>

<h2>New Upload</h2>
<%= form_for [@lecture, Upload.new] do |f| %>

  <p>
  <%= f.label :upload_time %><br />
  <%= f.text_field :upload_time %>
  </p>

  <p>
  <%= f.label :url %><br />
  <%= f.text_field :url %>
  </p>

  <p>
  <%= f.label :upload_time %><br />
  <%= f.text_field :upload_time %>
  </p>

  <p>
  <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
