<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :call_number %><br />
    <%= f.text_field :call_number %>
  </div>
  <div class="field">
    <%= f.label :course_title %><br />
    <%= f.text_field :course_title %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :time_slot %><br />
    <%= f.text_field :time_slot %>
  </div>
  <div class="field">
    <%= f.label :professor %><br />
    <%= f.text_field :professor %>
  </div>
  <div class="field">
    <%= f.label :has_many %><br />
    <%= f.text_field :has_many %>
  </div>
  <div class="field">
    <%= f.label :has_many %><br />
    <%= f.text_field :has_many %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
