<!DOCTYPE html>
<html>
<head>
  <title>Courzilla</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:notice] %>
    <h2>Notification:</h2>
    <div id="notice"><%= flash[:notice] %><br /></div>
  <% end %>

  <% if flash[:error] %>
    <h2>Error:</h2>
    <div id="error"><%= flash[:error] %><br /></div>
  <% end %>

  <div id="container">

    <div id="student_header">
      <%= link_to "Home", root_path %>
      | <%= link_to "Sign up", new_student_path %>
      | <%= link_to "Log in", login_path %>
      | <%= link_to "Log out", logout_path %>
    </div>

  <%= yield %>

  </div>
  
</body>
</html>
