<!DOCTYPE html>
<html>

<head>
  <title>Courzilla</title>
  <%= stylesheet_link_tag "slate", "style" %>

  <%= csrf_meta_tags %>
</head>

<body class="preview">
  <div id="wrap">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <p class="brand"><%= link_to 'Courzilla', root_path %></p>  <!-- brand/home link -->
          <div class="nav-collapse collapse">
            <ul class="nav">

              <% if current_student %>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Log out", logout_path %></li>
                <li><a> Logged in as <%= current_student.uni %></a></li>
              <% elsif %>
                <li><%= link_to "Log In", login_path %></li>
              <% end %>

            </ul>  <!-- end menu items -->
          </div> <!-- end nav-collapse -->
        </div>  <!-- end container -->
      </div> <!-- end inner nav bar -->
    </div> <!-- end navbar-fixed-top-->

    <div class="container">

      <!-- Flash messages -->
      <div class="page-header">
        <% if flash[:notice] or flash[:error] %>
          <% if flash[:notice] %>
            <div class="alert alert-success">
              <%= flash[:notice] %><br />
            </div>
          <% end %>

          <% if flash[:error] %>
            <div class="alert alert-error">
              <%= flash[:error] %><br />
            </div>
          <% end %>
        <% end %>
      </div>  <!-- end header -->

      <!-- Page Content -->
      <div class="container">
        <%= yield %>
      </div>

      <div id="push"><!-- Creates a gap for a sticky footer -->
      </div>

    </div>

  </div>  <!-- end wrap -->

  <div id="footer">
    <div class="container">
      <p class="muted credit">
        Courzilla
        | COMS3101 Project by Nate Brennand
        | <a href="http://starlogs.net/#nsb2142/RoR_intro">Credits</a>
      </p>
    </div>
  </div>

</body>

</html>
