<!DOCTYPE html>
<html>
<head>
  <title>Courzilla</title>
  <%= stylesheet_link_tag "bootstrap"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  body {
      padding: 40px;
  } 
  </style>
</head>
<body>

  <% if flash[:notice] %>
    <h4>Notification:</h4>
    <div id="notice"><%= flash[:notice] %><br /></div>
  <% end %>

  <% if flash[:error] %>
    <h4>Error:</h4>
    <div id="error"><%= flash[:error] %><br /></div>
  <% end %>

  <div id="container">

     <% if current_student %>
       <div class="btn btn-navbar">
         <%= link_to "Home", root_path %>
           | <%= link_to "Log out", logout_path %>
           | Logged in as <%= current_student.uni %>
       </div>
     <% end %>

  <%= yield %>
  </div>
  
</body>
</html>
